<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is your order confirmation</h1>

    <div>
      <ul>
    <li>You spent a total of: $<%= @order.total_cents * 0.01 %> </li>
    <% @order.line_items.each do |item| %>

        <li><b>Product description:</b> <%= item.product.description %></li>
        <li><b><%= item.product.name %> </b></li>
        <li>You spent $<%= item.product.price_cents * 0.01 %> on this item</li>
        <%end%>
      </ul>
        <div>

  </body>
</html>